# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
env/
venv/

# IDE / Editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# FAISS index hoặc dữ liệu lưu tạm
faiss_index/
*.faiss



# Model downloads / HuggingFace cache
.cache/
huggingface/


# Bỏ qua thư mục FAISS lưu index
faiss_store/

# Bỏ qua file lịch sử chat
chat_history.json

# Bỏ qua thư mục logs
logs/
